<form id="_mainForm">
    <button type="button" class="_addToCart" id="_cart_submit">Lấy dữ liệu</button>
    <button type="button" id="_cart_view">Xem dữ liệu</button>
</form>

<div id="_mainLoginMessage" style="padding-top: 8px">
    Bạn cần <a id="_loginLink" href="" target="_blank" style="color: green; font-weight: bold">đăng nhập tại</a> đây trước khi bắt đầu mua hàng
</div>

<div id="_mainModal" style="display: none">
    <table width="100%">
        <tr>
            <td style="text-align: center; width: 100%">
                <a id="_addToCartWaiting" class="_btnYes" style="text-decoration: none; color:green; font-weight: bold">
                    Xin vui lòng đợi....
                </a>
            </td>
        </tr>
    </table>
</div>
<!-- Modal -->

