*{
    --primary-color:  #043904;
    box-sizing: border-box;
}
.extnh-wrap .clear:before{
    display: table;
    content: "";
}
.extnh-wrap .clear:after{
    content: "";
    display: table;
    clear: both;
}
.extnh-wrap .form{
    margin-bottom: 30px;
}
.extnh-wrap .fcontrol {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    width: 100%;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border: solid 1px #e1e1e1;
    padding: 10px 15px;
    line-height: 20px;
    outline: 0;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.extnh-wrap .fcontrol:focus {
    border-color: var(--primary-color);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(28, 125, 237, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(28, 125, 237, 0.6);
}
.extnh-wrap .fcontrol.pill-control {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.extnh-wrap .fcontrol.dim-control {
    background-color: #f8f8f8;
}
.extnh-wrap .frow{
    padding: 5px;
    width: 100%;
    float: left;
}
.extnh-wrap .frow.half {
    width: 50%;
}
.extnh-wrap .btn {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border: none;
    color: var(--primary-color);
    height: 40px;
    line-height: 20px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.extnh-wrap .primary-btn{
    background-color: var(--primary-color);
   color: white;
}